nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar{
  margin: 20px;
}
.hero{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 200px;
}
.hero > p {
  color: grey;
  margin-top: 10px;
}
.hero > h1{
  margin-bottom: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#projects > ul{
  list-style-type:none;
}

.dash-list{
  list-style-type:none;
   padding-left: 10px;
}
.dash-list li::before{
content: "- ";
}


#projects, #experience, #education{
border: 1px solid black;
padding:10px
}
#projects {
  grid-column: 1;
}

#experience {
  grid-column: 2;
}

#education {
  grid-column: 3;
}

#reviews {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}
