nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar{
  margin: 20px;
}
.hero{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 300px;
}
.hero > p {
  color: grey;
  margin-top: 10px;
}
.hero > h1{
  margin-bottom: 10px;
}

.main-section-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 border-top: 3px solid black;
  border-bottom: 3px solid black;
  width: 100%;
}
.articles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:1rem;
  margin-left:2rem ;
  margin-right:2rem;
}

#projects > ul{
  list-style-type:none;
  padding-left: 1px;
}

.dash-list{
  list-style-type:none;
   padding-left: 10px;
}
.dash-list li::before{
content: "- ";
}


 #experience{
border-left: 3px solid black;
border-right: 3px solid black;
padding:20px

}
#projects, #education{
  padding:20px;
}
.articles>article{
  border:3px solid black;
  padding:10px;
  border-radius:30%;
  padding: 2rem;

}
#reviews > h2{
margin-left: 20px;
}
hr{
  height: 3px;
  background-color: black;
  border:none;
}
footer > h3{
  text-align: center;
}
@media (max-width: 768px) {
  .main-section-one, .articles {
    grid-template-columns: 1fr;
  }

  #projects, #experience, #education, #reviews{
    grid-column: auto;
  }
}
