nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar{
  margin: 20px;
}
.hero{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 200px;
}
.hero > p {
  color: grey;
  margin-top: 10px;
}
.hero > h1{
  margin-bottom: 10px;
}

.main-section-one, .articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#projects > ul{
  list-style-type:none;
}

.dash-list{
  list-style-type:none;
   padding-left: 10px;
}
.dash-list li::before{
content: "- ";
}


#projects, #experience, #education{
border: 1px solid black;
padding:10px
}
.articles>article{
  border:1px solid black;
  padding:10px;
  border-radius:30%;

}
.reviews > h2{
margin-left: 10px;
}
footer > h3{
  text-align: center;
}
@media (max-width: 768px) {
  .main-section-one, .articles {
    grid-template-columns: 1fr;
  }

  #projects, #experience, #education, #reviews{
    grid-column: auto;
  }
}
